body
{
    background: rgb(27,119,179);
    background: linear-gradient(90deg, rgba(27,119,179,1) 0%, rgba(27,105,179,1) 50%, rgba(27,91,179,1) 100%);
}

pre
{
    text-align: center;
}

a
{
    text-decoration: none;
    color: black;
}

img
{
    padding-right: 20px;
}

li:hover
{
    font-size: 32px;
    cursor: pointer;
    transition: 0.1s;
}

.grid-container > div
{
    background-color: #edffff;
    padding: 20px;
    font-size: 30px;
    border-radius: 5px;
}

.grid-item1
{
    grid-area: header;
    text-align: center;
}

.grid-item2
{
    grid-area: menu;
}

.grid-item2 > ul > li
{
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    background-color: #bcdcdc;
}

.grid-item3
{
    grid-area: main;
}

.grid-item4
{
    grid-area: right;
}

.grid-item4 > p
{
    font-size: 20px;
    border-top-style: solid;
    border-color: #bcdcdc;
    padding-top: 15px;
    border-width: medium;
}

.grid-item5
{
    grid-area: footer;
}

#mainText
{
    padding: 25px;
}

#overskriftMain
{
    font-style: italic;
    font-family: monospace;
}

#copyright
{
    font-size: 18px;
}

.grid-container
{
    display: grid;
    grid-template-areas:
    'header header header'
    'menu menu menu'
    'main main right'
    'footer footer footer';
    grid-gap: 10px;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
}

li
{
    display: inline;
    padding: 10px;
}

.grid-item2 > ul > li
{
    margin-right: 20px;
}



@media (max-width: 839px)
{
/* For mindre skjermer typsik telefoner e.l.*/
    .grid-container
    {
        display: grid;
        grid-template-areas:
            'header'
            'menu'
            'main'
            'right'
            'footer';
            grid-gap: 10px;
            background-color: rgba(255, 255, 255, 0);
            padding: 10px;
    }

    li
    {
        display: block;
        padding: 10px;
        text-align: center;
    }

    ul
    {
        margin-left: 15%;
        margin-right: 15%;
    }

    pre
    {
        font-size: 18px;
    }

    .grid-item2 > ul > li
    {
        margin-bottom: 20px;
    }
}
