.display
{
    border: 1px solid black;
    border-radius: 15px;
    padding: 0px 10px 0px 10px;
    margin-bottom: 5px;
    text-align: right;
    font-size: 1.3em;
    background-color: rgba(216, 215, 214, 0.448);
}

.buttons
{
    font-size: 1.3em;
}

.buttonRow
{
    display: flex;
    justify-content: space-around;
}

.button
{
    display: inline-block;
    background: rgb(74, 74, 74);
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    color: whitesmoke;
    width: 100%;
    margin: 10px 5px 0px 5px;
}

.button:hover
{
    transition: ease-in;
    background: rgb(110, 109, 109);
}

.operatorButton
{
    background-color: rgb(226, 139, 0);
}

.logg
{
    margin-top: 50px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgba(216, 215, 214, 0.448);
}

.logg-entry
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}



























.grid-container-buttons
{
    display: grid;
    grid-template-areas:
    'buttonC buttonANS buttonDEL buttonPLUSS'
    'button1 button2 button3 buttonMINUS'
    'button4 button5 button6 buttonTIMES'
    'button7 button8 button9 buttonDIVIDE'
    'button0 button0 buttonDOT buttonEQUALS';
    background-color: whitesmoke;
    grid-gap: 5px;
}

.operator
{
    background-color: rgb(244, 144, 4);
}

.specialOperator
{
    background-color: rgb(138, 133, 133);
}

#button0
{
    grid-area: button0;
}

#button1
{
    grid-area: button1;
}

#button2
{
    grid-area: button2;
}

#button3
{
    grid-area: button3;
}

#button4
{
    grid-area: button4;
}

#button5
{
    grid-area: button5;
}

#button6
{
    grid-area: button6;
}

#button7
{
    grid-area: button7;
}

#button8
{
    grid-area: button8;
}

#button9
{
    grid-area: button9;
}

#buttonC
{
    grid-area: buttonC;
}

#buttonANS
{
    grid-area: buttonANS;
}

#buttonDEL
{
    grid-area: buttonDEL;
}

#buttonPLUSS
{
    grid-area: buttonPLUSS;
}

#buttonMINUS
{
    grid-area: buttonMINUS;
}

#buttonTIMES
{
    grid-area: buttonTIMES;
}

#buttonDIVIDE
{
    grid-area: buttonDIVIDE;
}

#buttonEQUALS
{
    grid-area: buttonEQUALS;
}

#buttonDOT
{
    grid-area: buttonDOT;
}